<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
.side-bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://static.pexels.com/photos/201803/pexels-photo-201803.jpeg');
    min-height: 80%;
}
</style>
<body>

<!-- 产品侧边图片 -->
<nav class="w3-sidebar w3-hide-medium w3-hide-small" style="width:40%">
  <div class="side-bgimg"></div>
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "side-bgimg") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "side-bgimg") %>
    <% end %>
</nav>
<end>


<!-- 商品信息 -->
<div class="w3-main w3-padding-large" style="margin-left:40%">


  <!-- 课程简介 -->
  <header class="w3-container w3-center" style="padding:128px 16px" id="home">
    <h5>课程大分类</h5>
    <h1 class="w3-jumbo"><b><%= @product.title %></b></h1>
    <p>课程教练：Max Zhang</p>
    <p><span class="w3-opacity">2017.6.8(周四) 10:00 - 11:00 </span> <i class="fa fa-map-marker" aria-hidden="true"> 波士顿</i></p>
    <div>
        剩余席位: <%= @product.quantity %>
    </div>
    <hr>
    <p><span class="w3-opacity">$ <%= @product.price %> </span></p>

    <button class="w3-button w3-dark-grey w3-padding-large w3-margin-top">
      <% if @product.quantity.present? && @product.quantity > 0 %>
      <%= link_to("立即报名", add_to_cart_product_path(@product), :method => :post) %>
      <% else %>
        名额已满
      <% end %>
    </button>



    <button class="w3-button w3-red w3-padding-large w3-margin-top">
      <i class="fa fa-heart"></i> 加入心愿单
    </button>
  </header>


 <!-- 关于课程 -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-32" id="about">
    <h2>关于课程</h2>
    <hr class="w3-opacity">
    <p> <%= @product.description %> </p>
    <h3 class="w3-padding-16">核心目标</h3>
    <p class="w3-wide">体脂含量</p>
    <div class="w3-light-grey">
      <div class="w3-container w3-center w3-padding-small w3-red" style="width:95%">95%</div>
    </div>
    <p class="w3-wide">肌肉含量</p>
    <div class="w3-light-grey">
      <div class="w3-container w3-center w3-padding-small w3-blue" style="width:85%">85%</div>
    </div>
    <p class="w3-wide">体重</p>
    <div class="w3-light-grey">
      <div class="w3-container w3-center w3-padding-small w3-green" style="width:80%">80%</div>
    </div><br>



      <!-- 教练团队 -->
  <h3 class="w3-padding-24">教练团队</h3>
  <img src="/w3images/avatar_smoke.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
  <p><span class="w3-large w3-text-black w3-margin-right">Chandler Bing.</span> Web Designer.</p>
  <p>Jane Doe is just awesome. I am so happy to have met her!</p><br>

  <img src="/w3images/bandmember.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
  <p><span class="w3-large w3-text-black w3-margin-right">Chris Fox.</span> CEO at Mighty Schools.</p>
  <p>Jane Doe saved us from a web disaster.</p><br>

  <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
  <p><span class="w3-large w3-text-black w3-margin-right">Rebecca Flex.</span> CEO at Company.</p>
  <p>No one is better than Jane Doe.</p><br>

  <!-- 照片回顾 -->
  <div class="w3-padding-32 w3-content" id="portfolio">
    <h2 class="w3-text-grey">往期课程</h2>
    <hr class="w3-opacity">

    <!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half">
        <img src="/w3images/wedding.jpg" style="width:100%">
        <img src="/w3images/rocks.jpg" style="width:100%">
        <img src="/w3images/sailboat.jpg" style="width:100%">
      </div>

      <div class="w3-half">
        <img src="/w3images/underwater.jpg" style="width:100%">
        <img src="/w3images/chef.jpg" style="width:100%">
        <img src="/w3images/wedding.jpg" style="width:100%">
        <img src="/w3images/p6.jpg" style="width:100%">
      </div>
    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>

  <!-- End About Section -->
  </div>

    <h3>评价课程</h3>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> 提交评价
        </button>
      </p>
    </form>
  <!-- End Contact Section -->
  </div>

<!-- END PAGE CONTENT -->
</div>

</body>
</html>
