<!-- <div class="row">
  <div class="col-md-6">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2> <%= @product.title %> </h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div>
        数量 : <%= @product.quantity %>

    </div>
    <div class="product-price"> $ <%= @product.price %> </div>

    <div class="pull-right">
      <% if @product.quantity.present? && @product.quantity > 0 %>
        <%= link_to("我要鍛鍊", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
      <% else %>
        名额已满
      <% end %>
    </div>
  </div>
</div> -->


<!DOCTYPE html>
<html>
<!-- <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
.side-bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
}

</style>
<body>

<!-- 产品侧边图片 -->
<nav class="w3-sidebar w3-hide-medium w3-hide-small" style="width:40%">
  <div class="side-bgimg"></div>
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "side-bgimg") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "side-bgimg") %>
    <% end %>
</nav>
<end>


<!-- 商品信息 -->
<div class="w3-main w3-padding-large" style="margin-left:40%">


  <!-- 课程简介 -->
  <header class="w3-container w3-center" style="padding:128px 16px" id="home">
    <h5>夏季课程系列</h5>
    <h1 class="w3-jumbo"><b><%= @product.title %></b></h1>
    <p>课程教练：Jillian & Stephanie</p>
    <p><span class="w3-opacity">2017.6.8(周四) 10:00 - 11:00 </span> <i class="fa fa-map-marker" aria-hidden="true"> 波士顿</i></p>
    <div>
        剩余席位: <%= @product.quantity %>
    </div>
    <hr>
    <p><span class="w3-opacity">$ <%= @product.price %> </span></p>

    <button class="w3-button w3-dark-grey w3-padding-large w3-margin-top">
      <% if @product.quantity.present? && @product.quantity > 0 %>
      <%= link_to("立即报名", add_to_cart_product_path(@product), :method => :post) %>
      <% else %>
        名额已满
      <% end %>
    </button>



    <button class="w3-button w3-red w3-padding-large w3-margin-top">
      <i class="fa fa-heart"></i> 加入心愿单
    </button>
  </header>


 <!-- 关于课程 -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-32" id="about">
    <h3>关于课程</h3>
    <hr class="w3-opacity">
    <p> <%= @product.description %> </p>
    <h3>核心目标</h3>
    <hr class="w3-opacity">
    <p class="w3-wide">体脂含量</p>
    <div class="w3-light-grey">
      <div class="w3-container w3-center w3-padding-small w3-red" style="width:15%">15%</div>
    </div>
    <p class="w3-wide">肌肉含量</p>
    <div class="w3-light-grey">
      <div class="w3-container w3-center w3-padding-small w3-blue" style="width:40%">40%</div>
    </div>
    <p class="w3-wide">难易程度</p>
    <div class="w3-light-grey">
      <div class="w3-container w3-center w3-padding-small w3-green" style="width:60%">2级</div>
    </div><br>



      <!-- 教练团队 -->
  <h3>教练团队</h3>
  <hr class="w3-opacity">
  <img src="http://i4.buimg.com/519918/23fea6c1b2e20f06.png" alt="Jillian" class="w3-left w3-circle w3-margin-right" style="width:80px">
  <p><span class="w3-large w3-text-black w3-margin-right">Jillian</span> 核心力量教练</p>
  <p>美国ACE私教认证，擅长拳击，瑜伽，跑步，芭蕾。</p><br>


  <img src="http://i4.buimg.com/588926/5b87204d974902d3.jpg" alt="Stephanie" class="w3-left w3-circle w3-margin-right" style="width:80px">
  <p><span class="w3-large w3-text-black w3-margin-right">Stephanie Yang</span> 有氧慢跑教练</p>
  <p>BGR创始人，波士顿B.A.A. 10公里马拉松参赛者</p><br>

  <!-- 照片回顾 -->
  <div class="w3-padding-32 w3-content" id="portfolio">
    <h2 class="w3-text-grey"></h2>
    <hr class="w3-opacity">

    <!-- Grid for photos -->
    <!-- <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half">
        <img src="/w3images/wedding.jpg" style="width:100%">
        <img src="/w3images/rocks.jpg" style="width:100%">
        <img src="/w3images/sailboat.jpg" style="width:100%">
      </div>

      <div class="w3-half">
        <img src="/w3images/underwater.jpg" style="width:100%">
        <img src="/w3images/chef.jpg" style="width:100%">
        <img src="/w3images/wedding.jpg" style="width:100%">
        <img src="/w3images/p6.jpg" style="width:100%">
      </div> -->
      <!-- Instagram WIDGET -->
      <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/2d040b92edfc523ba0594e727ca6f457.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>

        <!-- End Instagram WIDGET -->

    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>

  <!-- End About Section -->

    <h3>课程咨询</h3>
    <hr class="w3-opacity">
    <div style="width: 900px">
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-12 w3-border" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-12 w3-border" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-12 w3-border" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-padding-32 w3-border" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> 提交评价
        </button>
      </p>
    </form>
  </div>
  <!-- End Contact Section -->
  </div>
</div>


<!-- END PAGE CONTENT -->
</div>

</body>
</html>
