<!DOCTYPE html>
<html>
  <head>
    <title>BosGalRun</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container-fluid">
      <%= render "common/navbar" %>
      <%= yield %>
    </div>
    <%= render "common/footer" %>
  </body>
  <%= js add_gritter(flash[:notice],image: :notice , title: "BGR：", sticky: false), extend_gritter(position: :bottom_right) %>
  <%= js add_gritter(flash[:warning],image: :notice , title: "BGR：", sticky: false), extend_gritter(position: :bottom_right) %>
  <%= js add_gritter(flash[:success],image: :notice , title: "BGR：", sticky: false), extend_gritter(position: :bottom_right) %>

</html>
<script>new WOW().init();</script>
